<a href="https://colab.research.google.com/github/Neerajmn28/100-Days-of-Python/blob/main/Day%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
print('Hello'[0])
print('Hello'[-1])

H
o

In [2]:
# String Concatenation
print('1,2,3,'+'2,3,4')

1,2,3,2,3,4

In [3]:
# Integer
print(123+456)

579

In [ ]:
print(1_2_3) # This _ is treated as commas in pythin

In [ ]:
len(123) #This will give us an error because len function dosen't support num

In [5]:
# datatype conversion
print(int('123') + int('456'))
int()
str()
bool()
float()

579

In [10]:
name_of_the_user = input('Enter your name:\n')
length_of_the_name = len(name_of_the_user)
print(type(name_of_the_user))
print(type(length_of_the_name))

Enter your name:
neeraj
<class 'str'>
<class 'int'>

In [12]:
print('Number of letters in your name:' + ' ' + str(length_of_the_name))
print('Number of letters in your name:' + ' ' + str(len(input('Enter your name:'))))

Number of letters in your name: 6
Enter your name:Neeraj
Number of letters in your name: 6

In [4]:
# Pemdas
print(3 * 3 + 3/3 -3) # Pemdas means calculated based on priority

7.0

In [1]:
# Mathematical operation
print('My age:'+ str(12))

print(1 + 2)
print(8 - 2)
print(4 * 2)
print(10 / 5)
print(11//2)  #// operator is the floor division operator. It divides the left-hand operand by the right-hand operand and returns the largest integer less than or equal to the result.
print(2 ** 5) # raises 2 to the power of 5

My age:12
3
6
8
2.0
5
32

In [3]:
bmi = 84/1.65 ** 2
print(bmi)

30.85399449035813

In [4]:
print(int(bmi)) # Flooring the number
print(round(bmi)) # Round up or down
print(round(bmi, 2)) # ROund up or down to 2 decimal places

30

In [20]:
# Assignment operator (Allows to accumulate the results of our calculations)
# (+=, -=, *=, /=)
score = 0
score += 10
score -= 2
score *= 2
score /= 4
print(score)

4.0

In [23]:
# F strings
print(f'Your score is = {score}')

score = 100
height = 182.35
is_winning = True

print(f'Your score is = {score}, Your height is {height}, I am winning {is_winning}')

Your score is = 100
Your score is = 100, Your height is 182.35, I am winning True